/* responsive.css */
/* tablet size mediaquary :: 1024 이하일때 */
/* 태블릿 1024px 이하 */
@media screen and (max-width: 1200px) {
    #wrap header .header_right .lnb {display: none;}
    #wrap header .header_right .tm_menu {display: block;}
    #wrap header .header_right .tm_nav {
        background: #fff; 
        display: flex; flex-flow: column nowrap;
        position: fixed; left: 0; top: 112px;
        width: 60vw; height: calc(100vh - 112px); z-index: 999;
        padding: 40px; overflow-y: auto;
        display: none;
    }
    #wrap header .header_right .tm_gnb_bg {
        position: fixed; left: 0; top: 112px;
        width: 100vw; height: 100vh;
        background: rgba(0,0,0,0.6);
        z-index: 998;
        display: none;
    }
    /* ==================================================================== 태블릿 모바일 gnb, lnb */
  
    #wrap header .header_right .tm_nav .tm_nav_top {
        display: flex; flex-flow: row nowrap;
        justify-content: space-between; align-items: center;
        margin-bottom: 40px;
         /* 스크롤 */
    }
    #wrap header .header_right .tm_nav .tm_nav_top .tm_lnb {}
    #wrap header .header_right .tm_nav .tm_nav_top .tm_lnb .lnb {
        display: flex; flex-flow: row nowrap; gap: 20px; align-items: center; justify-content: end;
    }
    #wrap header .header_right .tm_nav .tm_nav_top .tm_lnb .lnb a {display: block; width: 24px;}
    #wrap header .header_right .tm_nav .tm_nav_top .tm_lnb  .lnb a img {width: 100%;}
      #wrap header .header_right .tm_nav .tm_nav_top .gnb_close_btn {text-align: right; }
    #wrap header .header_right .tm_nav .tm_nav_top .gnb_close_btn a {display: inline-block; width: 32px; height: 32px;}
    #wrap header .header_right .tm_nav .tm_nav_top .gnb_close_btn a img {width: 100%;}
    /* tablet & mobile용 gnb 복제 스타일 */
    #wrap header .header_right .tm_nav .tm_gnb {}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 {
        display: flex; flex-flow: column nowrap; width: 100%; gap: 20px;
    }
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li:nth-child(1) .depth2_container {display: none;}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li {}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > a {display: block; padding: 20px 0; border-bottom: 1px solid #eee;}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .active {color: #1c4797;border-bottom: 1px solid #1c4797; }
        #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .active > a {}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container {} 
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap {
        display: flex; flex-flow: column nowrap;
        justify-content: space-between;
    }
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_depth2 {display: flex; flex-flow: column nowrap; margin-left: 20px;}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_depth2 > li {}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_depth2 > li > a {
        color: #AAA; display: block; padding: 20px 0;
        font-size: 0.88rem;
    } 
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_depth2 .active {color: #1c4797; }
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_depth2 > li > .gnb_depth3 {
        display: flex; flex-flow: column nowrap;margin-left: 20px;
}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_depth2 > li > .gnb_depth3 > li {display: none;}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_depth2 > li > .gnb_depth3 > li > a {
        display: block; color: #AAA; display: block; 
        padding: 20px 0; font-size: 0.75rem;
    }
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_bnr {padding: 20px; width: 40vw;}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_bnr a {}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_bnr a .bnr_txt {
        display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
        background-color: #1e1e1e; padding: 4px 10px;
    }
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container >c .depth2_wrap > .gnb_bnr a .bnr_txt p {color: #1e1e1e;}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_bnr a .bnr_txt img {}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_bnr a p {font-size: 0.69rem; color: #fff;}
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > .depth2_container > .depth2_wrap > .gnb_bnr .bnr_img {width:100%}
}

@media screen and (max-width: 1024px) {
    #wrap header #gnb {display: none;}
    #wrap header .header_right .lnb {display: none;}
    

    /* 태블릿  header 아래 드롭다운 */
    #wrap header .header_right .tm_nav .tm_nav_top {
    }
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 {
        display: flex; flex-flow: column nowrap;
        
    }
    #wrap header .header_right .tm_nav .tm_gnb .gnb_depth1 > li > a {
        display: block;
        font-weight: 500;
    }
    #wrap header .header_right .tm_nav .tm_nav_top .gnb_close_btn {
        top: 20px; right: 40px;
    }
    /* =====================================================================================================1. herobnr */
    #wrap main .hero_bnr .hero {height: 810px;}
    #wrap main .hero_bnr .hero .swiper-wrapper .swiper-slide .slide_txt{max-width: 1024px; top: 84%;}
    #wrap main .hero_bnr .hero .swiper-wrapper .swiper-slide .slide_txt h1 {text-align: center;}
    #wrap main .hero_bnr .hero .swiper-wrapper .swiper-slide .slide_txt h1 br {display: none;}
    #wrap main .hero_bnr .hero .swiper-wrapper .swiper-slide .slide_txt .more_btn {justify-content: center;}
    #wrap main .hero_bnr .hero .swiper-wrapper .swiper-slide {background-size: cover}
    #wrap main .hero_bnr .hero .swiper-wrapper .slide1 {background-image: url(../images/product/hero_bnr_t.jpg);}
    #wrap main .hero_bnr .hero .swiper-wrapper .slide2 {background-image: url(../images/product/hero_bnr_t.jpg);}
    #wrap main .hero_bnr .hero .swiper-wrapper .slide3 {background-image: url(../images/product/hero_bnr_t.jpg);}
    #wrap main .hero_bnr .hero .prev {top: 60%; left: 60px; transform: translateY(-60%) scale(0.6);}
    #wrap main .hero_bnr .hero .next {top: 60%; right: 60px; transform: translateY(-60%) scale(-0.6);}
}

/* 모바일 580px 이하 */
@media screen and (max-width: 580px) {
    
}
